{% extends 'layout.html' %}	
{% block content %}
    {{ super() }}
    <form method="POST">
        <div class="register-box">
            <h1>Envoyer un colis</h1>
            <p style="font-size: 17px;">Connecté en tant que <strong>{{ session['user']['nom_user'] }}</strong></p>
            <p style="font-size: 12px;">{{ session['user']['adresse'] }}, {{ session['user']['insee_code'] }} {{ session['user']['nom_ville'] }}</p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color:#B32000; text-align: left; padding-left: 4em;">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <label for="type_colis">Type de colis</label>
            <select id="type_colis" name="type_colis">
                <option value="lettre">Lettre</option>
                <option value="colis">Colis</option>
            </select>
            <label for="nom_client">Nom du destinataire</label>
            <input type="text" id="nom_client" name="nom_client" placeholder="Nom du destinataire...">
            <label for="prenom_client">Prénom du destinataire</label>
            <input type="text" id="prenom_client" name="prenom_client" placeholder="Prénom du destinataire...">
            <label for="adresse_client">Adresse du destinataire</label>
            <input type="text" id="adresse_client" name="adresse_client" placeholder="Exemple : Chaussée du Port">
            <label for="ville_client">Ville du destinataire</label>
            <input type="text" id="ville_client" name="ville_client" placeholder="Ville du destinataire...">
            <label for="login_client">E-mail du destinataire</label>
            <input type="text" id="login_client" name="login_client" placeholder="E-mail du destinataire...">
            <button class="button" style="vertical-align:middle"><span>Valider </span></button>
        </div>
    </form>
{% endblock %}